#userSearch {
    margin-top: 25%;
    margin-left: 10%;
    font-family: 'Shrikhand', cursive;
}
.jumbotron{
    font-family: 'Suez One', serif;
    color:black !important;

}
body {
    color:white !important;
    background-color: black !important;
}